
body {
    background-color: lightpink;
    padding: 10pt;
}

.table {
    padding: 15pt;
    border: 2pt dotted;
    border-spacing: 15pt;
}

.section {
    padding: 10pt;
    max-width: 65%;
    background-color: beige;
}
.summary {
    padding: 10pt;
    max-width: 65%;
    background-color: yellow;
    font-family: Georgia;
    border: 2pt solid;
    text-align: center;
}
.error {
    color: blue;
    font-size: small;
    font-family: Georgia;
}
.results {
    color: red;
    font-size: small;
    font-family: Courier;
}
/* --------------------------------------------------------------------------------- */
.heading {
    text-align: center;
}
.description {
    font-size: 120%;
    text-align: center;
    position: relative;
    right: 40pt;
    font-style: italic;
}