
body {
    background-image: url('bg.jpg.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    padding: 2%;
    text-decoration:underline;color:rgb(19,19,117);background-color: aqua;
    font-family: sans-serif; position: fixed;top: 18%;
    left: 40%;
}

.link { 
    background-image: url('bgimg.png');
    background-repeat:no-repeat;background-size: cover;
    position: absolute;top: 30%; left: 10%; width: 80%;
    height: fit-content; padding-bottom: 20px;
}
#subhead {
    color: rgb(0, 0, 0);background-color: white;
    text-decoration: underline;
    font-family: monospace;margin-left: 27%;margin-right: 10%;
    margin-bottom: 5%;width: fit-content;height: fit-content;
}
#a,#b,#c,#d {
    height: fit-content;width: fit-content;
    display: inline;
}

#a {
    margin-left: 30%;
    margin-right: 10%;
}

#c {
    margin-left: 30%;
    margin-right: 10%;
}

a:link,a:visited {
    background-color: rgb(181,227,170); color:#1e1eb1;
    padding: 3%;
}


a:hover,a:active {
    background-color: white; color:rgb(240,10,160);
    padding: 3%;
}

/* ----------------------------------------------------------------------------- */