
body {background-image: url(bg.jpg.avif); background-attachment: fixed;
    background-repeat: no-repeat;background-size: cover;}

.foot { background-image: url('bgimg.png');
    background-repeat:no-repeat;background-size: cover;
    height: 600px;margin-left:13%;margin-right: 12%;
    
}

.foot > h2 { color:rgb(170,39,39);font-family: verdana;
        padding-top: 5px;padding-left: 10px;}



.heading {text-decoration:underline;color:rgb(19,19,117);background-color: aqua;
    margin-top: 150px;display: inline-block;margin-left: 40%;
    font-family: sans-serif;
   }

.link {padding-left: 35%;padding-top: 10%;}

a:link,a:visited {background-color: rgb(181,227,170); color:#1e1eb1;
    font-size: 150%;margin-right: 20%; padding: 2%;}


a:hover,a:active {background-color: rgb(231,234,154); color:rgb(240,10,160);
    font-size: 150%; margin-right: 20%;padding: 2%;}