* {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 200);
}
.flex {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}