* {
    margin: 0;
    padding: 0;
}
body{background-color: rgb(230, 230, 200);}
.header {
    background-color: #ff7200;
    color: white;
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 5fr;
    place-items: center;
}
#heading{
    position: relative;
    right: 10vw;
}
#back {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}
#back:active{font-size: 35px;}
/* ----------------------------------------------------------------------------------------------------------------- */

.striker {
    color: #ff7200;
    margin: 15px;
    padding: 10px;
}
input {
    background-color: whitesmoke;
    margin: 30px;
    padding: 10px;
    max-width: 95%;
    width: 90%;
}
#button {
    display: inline-block;
    width: 90%;height: 4vh;
    font-size: 200%;
    color: white;
    position: relative;left: 5%;
    background-color:#ff7200;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}
#button:active{font-size: 180%;}