* {
    margin: 0;
    padding: 0;
    background-color: rgb(230,230,200);
}

.header {
    color: white;
    background-color: green;
    width: 100%;
    position: fixed;top: 0;
    height: 5%;
    padding: 10px;
    z-index: 1;
}
.header > img {
    background-color: green;
    position: absolute;
    left: 2%;
}
.container_head {
    background-color: green;
    position: absolute;
    left: 5%;
}
#heading {
    background-color: green;
    display: inline-block;
}

.noti_icon {
    background-color: green;
    position: absolute;
    right: 12%;
    top: 20px;
}
.noti_icon > img {background-color: green;height: 32px;width: 32px;}

.settings-icon {
    background-color: green;
    font-size: 40px;
    position: absolute;
    right:5%;top: 10px;
  }
/* -------------------------------------------------------------------------------------------------------------------- */
#frame {
    position: fixed;top: 7%;
    width: 100%;
    height: 83%;
}
/* ----------------------------------------------------------------------------------------------------------------------------- */
.footer {
    position: fixed;bottom: 0;
    background-color: white;
    width: 80%;height: 10%;
    margin-left: 10%;
    border-radius: 15px;
}

.box1 {position: absolute;left: 15%;top: 25%;}
.box2 {position: absolute;left: 50%;top: 25%;}
.box3 {position: absolute;right: 15%;top: 25%;}

img {height: 32px;width: 32px;background-color: white;}
.box1,.box2,.box3 {
    background-color: white;
    color: rgb(100,100,100);
    text-decoration: none;
    text-align: center;
}