* {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 200);
}
.flex {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
#button {
    border:1px solid #ff7200;
    color: white;
    background-color: #ff7200;
    height: 80px;width: 80px;
    border-radius: 50%;
    font-size: 60px;
    position: absolute;
    bottom: 10%;right: 10%;
    padding-bottom: 20px;
}