body{
    background-color: lightcyan;
    padding: 10pt;
}

table{
    padding: 10pt;
    border: 1pt dotted;
    border-spacing: 10pt;
}

.div1{
    padding: 10pt;
    max-width: 60%;
    background-color: beige;
}

.div2{
    padding: 10pt;
    max-width: 60%;
    background-color: lightpink;
    font-family: Georgia;
    border: 2pt solid;
    text-align: center;
}
.error{
    color: red;
    font-size: small;
    font-family: Courier;
}
.results,.result{
    color: green;
    font-size: small;
    font-family: Georgia;
}

button{
    margin: 2pt;
}
/* --------------------------------------------------------------------------------------------------------- */